// ---> BREAKPOINTS:
// -----> *** If you change these make sure to change them inside the functional components that use them for animations ***
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;

// ---> COLORS:
$color-background-main: #506997;
$color-background-two: #975050;
$color-background-three: beige;
$color-secondary: #cacaca;
$color-alternate: bisque;
$color-button-alternate: #3a3b3b;
$color-text-light: #fffbe8;
$color-text-dark: #010306;
// $color-text-dark: #da4141;

// ---> Others:
$padding-vertical: 50px;
$padding-horizontal: 60px;
