// ---> BREAKPOINTS:
// -----> *** If you change these make sure to change them inside the functional components that use them for animations ***
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;

// ---> COLORS:
$background-color-main: #6c6c6c;
