@import 'sass';

@include appear;
@include disappear;

@mixin listItem {
	@include flex-center;
	margin: 10px;
	p {
		margin: 10px;
		font-family: 'Aboreto';
	}
}

.Home {
	width: 100vw;
	height: 500vh;
	// height: fit-content;
	position: absolute;
	top: 0;
	z-index: 1;
	overflow-x: hidden;

	.Right {
		position: absolute;
		top: 0;
		right: 0;
		height: 200vh;
		width: 100%;
		z-index: -9;
		background-color: $color-right;
	}
	.Left {
		position: absolute;
		top: 0;
		left: 0;
		height: 200vh;
		width: 100%;
		background-color: $color-background-main;
		z-index: -9;

		&Top {
			@extend .Left;
			@keyframes slideInBlue {
				from {
					width: 100%;
				}
				to {
					width: 50%;
				}
			}
			animation: slideInBlue 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
		}

		&Scroll {
			@extend .Left;
			@keyframes expandBlue {
				from {
					width: 50%;
				}
				to {
					width: 100%;
				}
			}
			animation: expandBlue 1.5s cubic-bezier(0.3, 0.05, 0.5, 0.95) 0s 1 normal forwards;
		}
	}

	.Hello {
		position: fixed;
		top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		font-size: 200px;
		// line-height: 200px;
		font-weight: bold;
		font-family: 'Aboreto';
		opacity: 0;
		animation: appear 1s ease-in 0s 1 normal forwards;
		transition: left 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);

		@media screen and (max-width: $breakpoint-medium), (max-height: $breakpoint-tablet) {
			font-size: 150px;
		}
		@media screen and (max-width: $breakpoint-tablet) {
			font-size: 120px;
		}
		@media screen and (max-width: $breakpoint-mobile) {
			font-size: 100px;
			left: 54vw;
		}

		.He {
			font-family: 'Aboreto';
			// height: 200px;
			margin-bottom: -15%;
		}
		.Llo {
			// height: 200px;
			font-family: 'Aboreto';
		}

		&Scroll {
			@extend .Hello;
			left: 97vw;
			@media screen and (max-width: $breakpoint-mobile) {
				left: 110vw;
			}
		}
	}
	.Scroll {
		position: fixed;
		bottom: 10%;
		left: 45%;
		color: white;
		cursor: pointer;
		z-index: 10;
		@include flex-center;
		flex-direction: column;
		transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
		opacity: 0;
		animation: appear 1s 0.5s forwards;

		@media screen and (max-width: $breakpoint-tablet) {
			left: 40%;
		}

		p {
			transform: rotate(-90deg);
			font-weight: 300;
			font-size: 12px;
			margin-bottom: 15px;
		}

		.Arrow {
			@keyframes bounce {
				from {
					transform: translateY(0);
				}
				60% {
					transform: translateY(15px);
				}
				to {
					transform: translateY(0);
				}
			}
			animation: bounce 1.5s infinite;
		}

		&Top {
			@extend .Scroll;
			@media screen and (max-height: 500px) {
				color: white;
				bottom: 10%;
				left: 10%;
			}
		}

		&Active {
			@extend .Scroll;
			color: black;
			bottom: 10%;
			left: 10%;
		}
		&Bottom {
			@extend .ScrollActive;
			animation: disappear 2s forwards;
		}
	}

	.Intro {
		position: fixed;
		top: 35vh;
		left: 15vw;
		opacity: 0;
		// width: 35%;
		transition: all 0.5s ease;
		@media screen and (max-width: $breakpoint-mobile) {
			top: 40vh;
			width: 200px;
		}
		.IntroIcon {
			fill: none;
			stroke: black;
			stroke-width: 3;
			stroke-dasharray: 300;
			stroke-dashoffset: 300;
			transform: scale(0.3);
			transition: all 1s ease 0.8s;

			&Appear {
				@extend .IntroIcon;
				stroke-dashoffset: 0;
			}
		}
		h2 {
			color: black;
			font-size: 40px;
			font-weight: 300;
			letter-spacing: 1pt;
			margin-bottom: 10px;
			@media screen and (max-width: $breakpoint-medium) {
				font-size: 35px;
			}
			@media screen and (max-width: $breakpoint-tablet) {
				font-size: 30px;
			}
			@media screen and (max-width: $breakpoint-mobile) {
				font-size: 25px;
			}
		}
		h3 {
			color: $color-alternate;
			font-size: 30px;
			letter-spacing: 0.5pt;
			font-weight: 300;
			@media screen and (max-width: $breakpoint-medium) {
				font-size: 27px;
			}
			@media screen and (max-width: $breakpoint-tablet) {
				font-size: 24px;
			}
			@media screen and (max-width: $breakpoint-mobile) {
				font-size: 20px;
			}
		}
		&Appear {
			@extend .Intro;
			animation: fadeInLift 1s 0.5s forwards;
		}
	}

	.BannerCoding {
		position: absolute;
		bottom: 0;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: 70% bottom;
		background-image: url('../../../images/coding.jpg');
		background-attachment: fixed;
		z-index: -10;
	}

	main {
		position: absolute;
		top: 250vh;
		width: 100%;
		height: 200vh;
		background-color: $color-background-two;

		.WebDev {
			position: relative;
			height: 50%;

			.WebDevMain {
				position: absolute;
				top: 10%;
				left: 15%;
				height: 700px;
				width: 25%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				.Title {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					font-size: 120px;
					font-weight: normal;
					font-family: 'Aboreto';
					color: $color-headers;
					opacity: 0;
					.WDIcon {
						fill: none;
						stroke: black;
						stroke-width: 4;
						stroke-dasharray: 300;
						stroke-dashoffset: 300;
						transform: scale(0.5);
						transition: all 1.5s ease 0.5s;

						&Appear {
							@extend .WDIcon;
							stroke-dashoffset: 0;
						}
					}
					.Web {
						font-family: 'Aboreto';
						margin-bottom: -8%;
					}
					.Dev {
						font-family: 'Aboreto';
						span {
							// color: $color-background-main;
						}
					}

					@media screen and (max-width: $breakpoint-medium) {
						font-size: 100px;
						left: 15%;
						.Web {
							margin-bottom: -8%;
						}
					}
					@media screen and (max-width: $breakpoint-tablet) {
						font-size: 80px;
						left: 20%;
						.Web {
							margin-bottom: -5%;
						}
					}
					@media screen and (max-width: $breakpoint-mobile) {
						font-size: 60px;
						left: 25%;
						.Web {
							margin-bottom: -3%;
						}
					}

					&Appear {
						@extend .Title;
						animation: fadeInLift 1.5s forwards;
					}
				}
				.Text {
					opacity: 0;
					h2 {
						// color: $color-secondary;
						color: $color-alternate;
						font-size: 30px;
						letter-spacing: 0.5pt;
						font-weight: 100;
					}
					&Appear {
						@extend .Text;
						animation: fadeInLift 1s 0.5s forwards;
					}
				}
				.Buttons {
					width: 400px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-start;
					opacity: 0;
					color: white;

					a {
						text-decoration: none;
						color: white;
					}

					&Appear {
						@extend .Buttons;
						animation: fadeInSlideRight 1s 0.5s forwards;
					}
				}
			}
			.WebDevInfo {
				position: absolute;
				top: 90%;
				right: 0;
				height: 500px;
				width: 50vw;
				border-bottom-left-radius: 50px;
				border: 2px $color-black solid;
				background-color: rgba($color: white, $alpha: 0.4);
				padding: 50px 60px 20px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				letter-spacing: 1pt;
				color: $color-black;

				.WebDevContainer {
					height: 100%;
					width: 85%;
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					grid-template-rows: 1fr 1fr 1fr 1fr;

					.Icon {
						font-size: 24px;
						font-weight: 100;
						display: flex;
						flex-direction: column;
					}
				}
			}
		}
		.Fitness {
			position: relative;
			height: 50%;

			.Title {
				position: absolute;
				top: 5%;
				left: 15%;
				height: 400px;
				width: 800px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				font-size: 110px;
				font-weight: normal;
				font-family: 'Aboreto';
				color: $color-headers;
				opacity: 0;

				.HFIcon {
					fill: none;
					stroke: black;
					stroke-width: 4;
					stroke-dasharray: 300;
					stroke-dashoffset: 300;
					transform: scale(0.5);
					transition: all 1.5s ease 0.5s;

					&Appear {
						@extend .HFIcon;
						stroke-dashoffset: 0;
					}
				}

				.Health {
					font-family: 'Aboreto';
					margin-bottom: -3%;
				}
				.Fit {
					font-family: 'Aboreto';
					span {
						// color: $color-background-main;
					}
				}

				@media screen and (max-width: $breakpoint-medium) {
					font-size: 100px;
					left: 15%;
				}
				@media screen and (max-width: $breakpoint-tablet) {
					font-size: 80px;
					left: 20%;
				}
				@media screen and (max-width: $breakpoint-mobile) {
					font-size: 60px;
					left: 25%;
				}

				&Appear {
					@extend .Title;
					animation: fadeInLift 1.5s forwards;
				}
			}
			.FitnessInfo {
				// border: 1px solid black;
				position: absolute;
				top: 28%;
				left: 45%;
				height: 60%;
				width: 40%;
				min-width: 400px;
				padding-left: 100px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				.Text {
					opacity: 0;
					margin: 50px 0 30px;
					.HFIcons {
						width: 100%;
						font-size: 30px;
						display: flex;
						justify-content: space-evenly;
						margin: 20px 0;
						color: $color-secondary;
					}
					h2 {
						color: $color-alternate;
						font-size: 30px;
						letter-spacing: 0.5pt;
						font-weight: 100;
					}
					&Appear {
						@extend .Text;
						animation: fadeInLift 1s 0.5s forwards;
					}
				}
				.Buttons {
					// margin: 20px;
					width: 400px;
					// height: 500px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-start;
					opacity: 0;
					color: white;

					a {
						text-decoration: none;
						color: white;
					}

					&Appear {
						@extend .Buttons;
						animation: fadeInSlideLeft 1s 0.5s forwards;
					}
				}
			}
			.FitnessPicture {
				position: absolute;
				top: 40%;
				left: 0;
				height: 300px;
				width: 45%;
				border-bottom-right-radius: 15px;
				border-top-right-radius: 15px;
				background: url(../../../images/hiking.jpeg);
				background-size: cover;
				background-position-x: center;
				background-position-y: 0%;
				background-repeat: no-repeat;
			}
		}
	}
	.Contact {
		position: absolute;
		bottom: 0;
		height: 100vh;
		width: 100%;
		z-index: -8;
		background-color: $color-background-three;

		.ContactInfo {
			position: absolute;
			top: 33%;
			left: 50%;
			transform: translateX(-50%);
			@include flex-center;
			flex-direction: column;
			h2 {
				font-family: 'Aboreto';
				font-weight: 100;
				font-size: 30px;
			}
			.ContactLinks {
				margin-top: 20px;
				width: 100%;
				font-size: 30px;
				@include flex-center;
				justify-content: space-evenly;

				a {
					color: black;
					text-decoration: none;
				}
			}
		}
	}
}
