@import 'sass';

.Container {
	position: fixed;
	top: 0;
	z-index: 100;

	@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
		display: none;
	}

	.Top {
		width: 100vw;
		height: $padding-vertical;
		position: fixed;
		top: 0;
		background: white;
		transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
		animation: slideDown 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
		&MenuActive {
			@extend .Top;
			height: 10%;
		}
	}
	.Bottom {
		width: 100vw;
		height: $padding-vertical;
		position: fixed;
		bottom: 0;
		background: white;
		transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
		animation: slideUp 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
		&MenuActive {
			@extend .Bottom;
			height: 10%;
		}
	}
	.Left {
		width: $padding-horizontal;
		height: 100vh;
		position: fixed;
		left: 0;
		background: white;
		transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
		animation: slideRight 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
		&MenuActive {
			@extend .Left;
			width: 70%;
		}
	}
	.Right {
		width: $padding-horizontal;
		height: 100vh;
		position: fixed;
		right: 0;
		background: white;
		transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
		animation: slideLeft 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
		&MenuActive {
			@extend .Right;
			width: 10%;
		}
	}
}

.Header {
	position: fixed;
	top: 15px;
	left: $padding-horizontal;
	font-size: 20px;
	letter-spacing: 1pt;
	font-weight: 300;
	font-family: 'Aboreto';
	position: fixed;
	z-index: 100;
	opacity: 0;
	animation: appear 1s ease-in 0.5s forwards;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

	@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
		display: none;
	}

	&MenuActive {
		@extend .Header;
		top: 4%;
		left: 10%;
	}
}

.HeaderMobile {
	@extend .Header;
	transition: 0.5s ease;
	display: none;
	@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
		display: block;
	}
	@media (orientation: landscape) {
		top: 5%;
		left: 3%;
	}
	@media (orientation: portrait) {
		top: 3%;
		left: 5%;
	}

	&Scroll {
		@extend .HeaderMobile;
		@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
			opacity: 1;
			animation: disappear 1s ease-in forwards;
		}
	}
}

.Menu {
	height: 100%;
	width: $padding-horizontal;
	position: fixed;
	left: 0;
	z-index: 100;
	opacity: 0;
	animation: appear 1s ease-in 0.5s 1 normal forwards;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.Icon {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		cursor: pointer;
		transform: translateX(30px);

		&MenuActive {
			@extend .Icon;
			cursor: default;
		}

		.Bars {
			transform: translateY(4px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;

			.Bar {
				transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
				cursor: pointer;

				&1Hover {
					@extend .Bar;
					transform: translateX(-8px);
				}
				&2Hover {
					@extend .Bar;
					transform: translateX(-13px);
				}
				&3Hover {
					@extend .Bar;
					transform: translateX(-8px);
				}

				&1X {
					@extend .Bar;
					transform: translate(44px, -10px) rotateZ(45deg);
				}
				&2X {
					@extend .Bar;
					display: none;
				}
				&3X {
					@extend .Bar;
					transform: translateX(50px) rotateZ(-45deg);
				}
			}

			.Line {
				stroke: black;
				stroke-width: 3px;
			}
		}
		.Letters {
			margin-left: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			p {
				height: 10px;
				width: 10px;
				font-size: 10px;
				font-weight: 300;
				transform: rotateZ(-90deg);
				text-align: center;
				transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
			}

			.U {
				transform: translateX(6px) rotateZ(-90deg);
				color: white;
			}
			.N {
				transform: translateX(-4px) rotateZ(-90deg);
				color: white;
			}
			.E {
				transform: translateX(4px) rotateZ(-90deg);
				color: white;
			}
			.M {
				transform: translateX(-8px) rotateZ(-90deg);
				color: white;
			}

			&MenuActive {
				display: none;
			}
		}
	}

	@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
		display: none;
	}
}

.MenuBackground {
	display: none;
	position: fixed;
	z-index: 99;
	right: 0;
	height: 100vh;
	width: 100vw;
	background-color: $color-background-main;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

	&Active {
		@extend .MenuBackground;
		display: block;
		opacity: 0;
		animation: appear 0.5s forwards;
	}
}

.Mobile {
	position: fixed;
	top: 20px;
	right: 20px;
	height: 40px;
	width: 40px;
	background-color: white;
	z-index: 100;
	@include flex-center;
	font-size: 25px;
	border-radius: 50%;
	display: none;

	@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
		display: flex;
	}
}

.Nav {
	height: 100%;
	width: $padding-horizontal;
	position: fixed;
	right: 0;
	z-index: 100;
	opacity: 0;
	animation: appear 1s ease-in 0.5s 1 normal forwards;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	@include flex-center();

	@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
		display: none;
	}

	ul {
		@include flex-center;
		flex-direction: column;
		align-items: center;
		width: 100%;
		list-style: none;

		.List {
			margin: 40px;
			text-align: center;
			cursor: pointer;
			font-size: 28px;
			opacity: 0.8;
			letter-spacing: 1px;
			color: rgb(30, 30, 30);
			position: relative;

			.Icon {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
			.IconCurrentHome {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
			.IconCurrent {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				opacity: 0;
			}
		}
	}

	&MenuActive {
		@extend .Nav;
		display: none;
	}
}
