@import 'sass';

@include disappear;
@include appear;

@keyframes slideDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes slideUp {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100%);
	}
}

.Nav {
	animation: appear 1s;
	animation-fill-mode: forwards;
	height: 100%;
	width: 150px;
	position: fixed;
	right: 0;
	z-index: 1;
	@include flex-center();

	@media screen and (max-width: $breakpoint-mobile) {
	}

	ul {
		@include flex-center;
		flex-direction: column;
		width: 100%;
		list-style: none;

		li {
			margin: 55px;
			text-align: center;
			cursor: pointer;
			font-size: 30px;
			opacity: 0.8;
			letter-spacing: 1px;
			position: relative;
			color: $color-alternate;

			.Icon {
				position: absolute;
				top: 0;
				left: 0;
			}
			.IconCurrentHome {
				position: absolute;
				top: 0;
				left: 0;
			}
			.IconCurrent {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
			}
		}
	}
}
