@import 'sass';

.Container {
	position: fixed;
	top: 0;
	z-index: 100;

	@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
		display: none;
	}

	.Top {
		width: 100vw;
		height: $padding-vertical;
		position: fixed;
		top: 0;
		background: white;
		animation: slideDown 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
	}
	.Bottom {
		width: 100vw;
		height: $padding-vertical;
		position: fixed;
		bottom: 0;
		background: white;
		animation: slideUp 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
	}
	.Left {
		width: $padding-horizontal;
		height: 100vh;
		position: fixed;
		left: 0;
		background: white;
		animation: slideRight 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
	}
	.Right {
		width: $padding-horizontal;
		height: 100vh;
		position: fixed;
		right: 0;
		background: white;
		animation: slideLeft 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
	}
}
