@import 'sass';

.ScrollTop {
	position: fixed;
	bottom: 10%;
	left: 45%;
	color: white;
	cursor: default;
	z-index: 10;
	@include flex-center;
	flex-direction: column;
	transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	opacity: 0;
	animation: appear 1s 0.5s forwards;

	@media screen and (max-width: $breakpoint-tablet) {
		left: 40%;
	}
	@media screen and (max-height: 500px) {
		bottom: 10%;
		left: 10%;
	}

	p {
		position: absolute;
		transform: rotate(-90deg);
		font-weight: 300;
		font-size: 12px;
		white-space: nowrap;
		// margin-bottom: 15px;
	}

	.Scroll {
		opacity: 1;
		bottom: 33px;
		transition: opacity 1s ease;
	}
	.BackToTop {
		bottom: 10px;
		opacity: 0;
		transition: opacity 1s ease;
	}

	@keyframes bounce {
		from {
			transform: translateY(0);
		}
		60% {
			transform: translateY(15px);
		}
		to {
			transform: translateY(0);
		}
	}
	.ArrowDown {
		position: absolute;
		bottom: 0;
		opacity: 1;
		animation: bounce 1.5s infinite;
		transition: opacity 1s ease;
	}
	.ArrowUp {
		position: absolute;
		bottom: 70px;
		opacity: 0;
		animation: bounce 1.5s infinite;
		transition: opacity 1s ease;
	}

	.Arrow {
		@keyframes bounce {
			from {
				transform: translateY(0);
			}
			60% {
				transform: translateY(15px);
			}
			to {
				transform: translateY(0);
			}
		}
		animation: bounce 1.5s infinite;
	}
}

.ScrollBottom {
	@extend .ScrollTop;
	color: black;
	bottom: 10%;
	left: 10%;

	.Scroll {
		opacity: 0;
	}
	.BackToTop {
		opacity: 1;
	}
	.ArrowDown {
		opacity: 0;
	}
	.ArrowUp {
		opacity: 1;
	}
}
