@import 'sass';

@mixin listItem {
	@include flex-center;
	margin: 10px;
	p {
		margin: 10px;
		font-family: 'Aboreto';
	}
}

.Home {
	width: 100vw;
	height: 400vh;
	position: absolute;
	top: 0;
	z-index: 1;
	// overflow-x: hidden;

	.Left {
		position: absolute;
		left: 0;
		height: 100%;
		width: 100%;

		background-color: $color-background-main;
		@keyframes slideInBlue {
			from {
				width: 100%;
			}
			to {
				width: 50%;
			}
		}
		animation: slideInBlue 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
	}
	.Right {
		position: absolute;
		right: 0;
		height: 100%;
		width: 50%;
		z-index: -1;
		background-color: $color-right;
	}

	.Top {
		height: 100vh;
		width: 100%;
		position: relative;

		.Hello {
			position: fixed;
			top: 50vh;
			left: 50vw;
			transform: translate(-50%, -50%);
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			font-size: 200px;
			font-weight: bold;
			font-family: 'Aboreto';
			opacity: 0;
			animation: appear 1s ease-in 0s 1 normal forwards;

			@media screen and (max-width: $breakpoint-medium) {
				font-size: 150px;
			}
			@media screen and (max-width: $breakpoint-tablet) {
				font-size: 120px;
			}
			@media screen and (max-width: $breakpoint-mobile) {
				font-size: 100px;
				left: 54vw;
			}

			.He {
				font-family: 'Aboreto';
				margin-bottom: -15%;
			}
			.Llo {
				font-family: 'Aboreto';
			}
		}
		.Scroll {
			position: fixed;
			bottom: 90px;
			left: 45%;
			color: white;
			cursor: pointer;
			z-index: 10;
			@include flex-center;
			flex-direction: column;
			transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
			opacity: 0;
			animation: appear 1s 0.5s forwards;

			@media screen and (max-width: $breakpoint-tablet) {
				left: 40%;
			}

			p {
				transform: rotate(-90deg);
				// font-family: 'Aboreto';
				font-weight: 300;
				font-size: 12px;
				margin-bottom: 15px;
			}

			.Arrow {
				@keyframes bounce {
					from {
						transform: translateY(0);
					}
					60% {
						transform: translateY(15px);
					}
					to {
						transform: translateY(0);
					}
				}
				animation: bounce 1.5s infinite;
			}

			&Top {
				@extend .Scroll;
			}

			&Active {
				@extend .Scroll;
				color: black;
				bottom: 90px;
				left: 10%;
			}
			&Bottom {
				@extend .ScrollActive;
				opacity: 1;
				animation: disappear 2s forwards;
			}
		}
	}

	.Intro {
		position: fixed;
		top: 35vh;
		left: 15vw;
		opacity: 0;
		h2 {
			color: black;
			font-size: 40px;
			font-weight: 300;
			letter-spacing: 1pt;
			margin-bottom: 5px;
		}
		h3 {
			color: $color-secondary;
			font-size: 30px;
			letter-spacing: 0.5pt;
			font-weight: 300;
		}
		&Appear {
			@extend .Intro;
			animation: fadeInLift 1.5s forwards;
		}
	}

	.BannerCoding {
		position: absolute;
		top: 200vh;
		width: 100%;
		height: 80vh;
		background-size: cover;
		background-position: bottom;
		background-image: url('../../../images/coding.jpg');
		background-attachment: fixed;
	}

	.LayerOne {
		position: absolute;
		top: 270vh;
		width: 100%;
		height: fit-content;

		.WebDevContainer {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100vh;
			background-color: $color-background-two;

			.WebDevInfo {
				position: absolute;
				background: rgba($color: #ffffff, $alpha: 0.1);
				border: 1px solid $color-text-dark;
				border-radius: 0 40px;
				padding: 50px;
				color: $color-secondary;

				top: 300px;
				right: 0;
				height: 30%;
				width: 55%;
				@include flex-center;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				font-size: 25px;
				font-weight: 100;
				letter-spacing: 1pt;
				font-family: 'Aboreto';

				.RowOne {
					width: 85%;
					display: flex;
					justify-content: space-between;
					.WebDevOne {
						@include listItem();
					}
					.WebDevTwo {
						@include listItem();
					}
				}
				.RowTwo {
					width: 85%;
					display: flex;
					justify-content: space-between;
					.WebDevThree {
						@include listItem();
					}
					.WebDevFour {
						@include listItem();
					}
				}
			}
		}

		.BannerFitness {
			position: absolute;
			top: 100vh;
			height: 60vh;
			width: 100%;
			background-size: cover;
			background-position: top;
			background-image: url('../../../images/hiking.jpeg');
			background-attachment: fixed;
		}
		.FitnessContainer {
			position: absolute;
			width: 100%;
			height: 100vh;
			top: 160vh;
			background-color: $color-background-three;
			z-index: 1;

			.FitnessInfo {
				position: absolute;
				background: rgba($color: #ffffff, $alpha: 0.1);
				border: 1px solid $color-button-alternate;
				border-radius: 40px 0;
				padding: 40px;
				color: $color-button-alternate;

				top: 300px;
				left: 0;
				height: 30%;
				width: 50%;
				// @include flex-center;
				display: flex;
				justify-content: flex-end;
				font-size: 25px;
				font-weight: 100;
				letter-spacing: 1pt;

				.RowOne {
					width: 80%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					margin-right: 20px;

					.FitnessOne {
						align-self: flex-start;
						margin-bottom: 20px;
						@include listItem();
					}
					.FitnessTwo {
						align-self: center;
						margin-bottom: 20px;
						@include listItem();
					}
					.FitnessThree {
						align-self: flex-end;
						@include listItem();
					}
				}
			}
		}
		.Contact {
			position: absolute;
			width: 100%;
			height: 400px;
			top: 160vh;
			background-color: $color-right;

			.ContactInfo {
				position: absolute;
				top: 33%;
				left: 50%;
				transform: translateX(-50%);
				@include flex-center;
				flex-direction: column;
				h2 {
					font-family: 'Aboreto';
					font-weight: 100;
					font-size: 30px;
				}
				.ContactLinks {
					margin-top: 20px;
					width: 100%;
					font-size: 30px;
					@include flex-center;
					justify-content: space-evenly;

					a {
						color: black;
						text-decoration: none;
					}
				}
			}
		}
	}
}
